/* GENERAL STUFF */

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Comic Sans', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Rancho', cursive;
}

a, i, p {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

$button: #222e45;
$button-border: lighten($button, 3%);

/* PAGE SPECIFIC */

body {
	background: #3b5494 url("../Images/Sky and sea.png") no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	margin-right: auto;
	margin-left: auto;

	header {

		div#first {
			position: relative;
			height: 100vh;
		}

		h1 {
			color: white;
			padding-top: 70px;
			margin-bottom: 0;
			font-size: 4rem;
		}

		img#foca {
			position: absolute;
			right: 0;
			bottom: 15%;
			width: 200px;
		}

		img#photo,
		img#moon {
			max-height: 200px;
			max-width: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: .7;

			&#photo {
				z-index: 999;
			}
		}

		div#bottom {
			height: 100%;
			width: 100%;
			background: url(../Images/bottom.png) no-repeat bottom center fixed;
			background-size: 100vw;
		}

		i.fa-chevron-down {
				font-size: 2em;
				color: white;
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				animation-name: bounce;
				animation-duration: 3s;
				animation-iteration-count: infinite;
				transition: ease-in-out;
			}


	}

	main {

	}

	footer {

		
	}
}

/* KEYFRAMES */

@keyframes bounce {
	0% {
		bottom: 2%;
		left: 50%;
		transform: translateX(-50%);
	}

	10%, 30% {
		bottom: 1%;
		left: 50%;
		transform: translateX(-50%);
	}

	20%, 40%, 100% {
		bottom: 2%;
		left: 50%;
		transform: translateX(-50%);
	}

}
/* QUERIES */

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 1024px) {

	}