/* GENERAL STUFF */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\000033}}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\000039}}
h1, h2, h3 {
  font-family: 'Comic Sans', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Rancho', cursive;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000316}}
a, i, p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000321}}
p {
  text-align: justify;
  text-justify: inter-word;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000327}}
ul {
  list-style: none;
  margin: 0;
}

/* PAGE SPECIFIC */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000334}}
body {
  background: #f9fafa;
  margin-right: auto;
  margin-left: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000339}}
body header {
  height: 85vh;
  background: url("../Images/bg mobile.png") no-repeat center bottom;
  background-size: cover;
  /*i.fa-chevron-down {
  	font-size: 2em;
  	color: white;
  	position: absolute;
  	bottom: 20px;
  	left: 50%;
  	transform: translateX(-50%);
  	animation-name: bounce;
  	animation-duration: 3s;
  	animation-iteration-count: infinite;
  	transition: ease-in-out;
  }*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000345}}
body header h1 {
  color: white;
  padding-top: 50px;
  margin-bottom: 0;
  font-size: 4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000352}}
body header div#take-pic {
  height: 50%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000356}}
body header div#take-pic img#moon {
  width: 65%;
  max-width: 360px;
  max-height: 40vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000379}}
body main section {
  max-width: 80%;
  margin: auto;
  padding: 10px 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000385}}
body main h1 {
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000391}}
body main div#species-container {
  background: #f2f4f4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000394}}
body main div#species-container div#species-category-wrapper {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\0000397}}
body main div#species-container div#species-category-wrapper img {
  width: 30%;
  height: auto;
  padding: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003106}}
body footer {
  background: linear-gradient(to bottom, #2e358d, #2e112f);
  color: white;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003111}}
body footer h2 {
  font-size: 2em;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003117}}
body footer ul li {
  text-align: center;
}

/* KEYFRAMES */
@keyframes bounce {
  0% {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
  10%, 30% {
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
  }
  20%, 40%, 100% {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* QUERIES */
@media screen and (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003154}}
  body main div#species-container div#species-category-wrapper img {
    width: 30%;
    height: auto;
    padding: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003163}}
  body main div#contacts-container p {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003173}}
  body header {
    height: 300px;
    background: url("../Images/bg desktop.png") no-repeat center bottom;
    background-size: cover;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003177}}
  body header h1 {
    padding-top: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003181}}
  body header div#take-pic {
    height: 150px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003184}}
  body header div#take-pic img#moon {
    height: 100%;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003192}}
  body main section {
    max-width: 1000px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003198}}
  body main div#species-container div#species-category-wrapper img {
    width: 15%;
    height: auto;
    padding: 1%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/Design\%20de\%20Meios\%20Interativos\/Sight-Seaing\/css\/styles\.scss}line{font-family:\00003208}}
  body footer ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
