body#common-page {
	main {

		section#project-info {
			max-width: 600px;
			margin: auto;
			padding: 0 20px;

			h1 {
				font-size: 2rem;
				text-align: left;
			}

			p {
				padding-bottom: 10px;
			}
		}
	}
}

@media screen and (min-width: 640px) {
	body#common-page {
	}
}

@media screen and (min-width: 1024px) {
	body#common-page {
		main {
			section#project-info {
				margin: initial;
				margin-right: auto;
			}
		}
	}
}