body#common-page {
	main {
		h1 {
			font-size: 2rem;
			text-align: left;
		}

		section#project-info {
			max-width: 600px;
			margin: auto;
			padding: 10px 20px;

			p {
				padding-bottom: 10px;
			}
		}
	}
}

@media screen and (min-width: 640px) {
	body#common-page {
		background: url("../Images/bg-foot-tablet.png") no-repeat center bottom;
		background-size: auto;
	}
}

@media screen and (min-width: 1024px) {
	body#common-page {
		background: url("../Images/bg-foot-desktop.png") no-repeat center bottom;
		background-size: auto;

		main {
			section#project-info {
				margin: initial;
				margin-right: auto;
			}
		}
	}
}