body#common-page {
	main#main-form {
		display: block;
		max-width: 600px;

		div#form-wrapper {
			min-height: calc(100vh - 60px - 200px);
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-content: center;
    		margin: 20px 10px;

			label {
				padding: 10px;

				p {
					font-size: .8rem;
					color: grey;
				}

				&#observations {
					textarea {
						height: 100px;
					}
				}

				select,
				textarea {
					border-color: #2E5B90;
					border-radius: 5px;
				}
			}
		}
	}
}

@media screen and (min-width: 640px) {
	body#common-page {
	}
}

@media screen and (min-width: 1024px) {
	body#common-page {
		main#main-form {
			max-width: 1000px;

			div#form-wrapper {
				flex-direction: row;

				label {
					&#label-visibility,
					&#label-glare {
						margin-top: 20px;
					}
				}
			}
		}
	}
}