body#common-page {
	header#common-page-header {
		height: 50px;
		background: darkblue;
		margin-bottom: 10px;

		&.fixed-header {
			width: 100%;
			position: fixed;
			top: 0;
			z-index: 999;
			animation-name: reveal-header;
			animation-duration: 1s;
		}

		* {
			color: white !important;
			font-family: 'Comic Sans', cursive;
			font-family: 'Lobster-1.4';
			font-family: 'Lobster', cursive;
		}

		a {
			font-size: 2rem;
    		padding-left: 10px;
		}
	}
}

@keyframes reveal-header {
	0%, 50% {top: -50px;}
	100% {top: 0;}

}